{{- partial "intro" . }}
{{- $filteredPosts := .Site.Params.blogDir }}
{{- $pages := .Pages }}

{{- $posts := .Site.GetPage "posts" }}

    <!-- 2. Sort them from featured to regular, chronologically -->
    {{ $featuredPosts := where $posts.Pages ".Params.featured" true }}
    {{ $regularPosts := where $posts.Pages ".Params.featured" false }}
    {{ $sortedPosts := union $featuredPosts $regularPosts }}
    {{ $paginator := .Paginate $sortedPosts }}

<ul class='posts wrap' id = 'posts'>
  {{- range $paginator.Pages }}
    {{- partial "excerpt" . }}
  {{- end }}
</ul>
{{- template "_internal/pagination.html" . }}
